/* users.component.css */
.table-container {
    width: 100%;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #e0e0e0;
}

/* Estilização dos botões */
.delete-button, .add-button {
    background-color: red; /* Define a cor de fundo vermelha para Excluir */
    color: white; /* Define a cor do texto como branco */
    border: none; /* Remove a borda padrão */
    padding: 8px 16px; /* Adicione algum preenchimento para melhor aparência */
    cursor: pointer; /* Altera o cursor ao passar o mouse para indicar que é clicável */
    border-radius: 4px; /* Adicione uma borda arredondada */
}

.delete-button:hover, .add-button:hover {
    background-color: darkred; /* Altera a cor de fundo ao passar o mouse para Excluir */
}

.add-button {
    background-color: green; /* Define a cor de fundo verde para Adicionar Cliente */
    margin-top: 20px; /* Adiciona um espaçamento superior de 20px */
}

.add-button:hover {
    background-color: darkgreen; /* Altera a cor de fundo ao passar o mouse para Adicionar Cliente */
}
